<div class="modal fade" id="device-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    {{device.mac}}
                    <span v-if="device.is_ap" class="badge badge-secondary">AP</span>
                    <span v-if="device.node.length" class="badge badge-success">Online</span>
                    <span v-if="!device.node.length" class="badge badge-secondary">Offline</span>
                </h5>
            </div>

            <div class="modal-body container-fluid">
                <button v-if="history.length" type="button" class="btn btn-secondary mb-2" v-on:click="back">Back</button>

                <div class="row m-0">
                    <div class="col-5 p-0">
                        <h5 v-if="!editLabel"> 
                            <span >{{device.label}}</span>
                        </h5>
                        <input v-if="editLabel" v-model="device.label" class="form-control form-control-sm" id="label-input">
                    </div>

                    <div class="col-3 p-0 pl-1">
                        <button v-if="editLabel" class="btn btn-sm btn-primary" v-on:click="saveLabel">Save</button>
                        <button v-if="!editLabel" class="btn btn-sm btn-primary" v-on:click="editLabel=true">Edit label</button>
                    </div>
                </div>

                <p class="m-0 mt-2">{{device.mac}}</p>
                <p class="text-muted m-0">{{device.org}}</p>
                
                <div class="row m-0 p-0 mt-2">
                    <span v-if="device.ssid"><strong>SSID: </strong>{{device.ssid}}</span>
                </div>

                <div class="row m-0">
                    
                    <div class="col-md-6 p-0">
                        <strong>First seen: </strong>{{moment(device.first_seen).format("DD/MM/YYYY hh:mm:ss")}}
                        
                    </div>
                    <div class="col-md-6 p-0" v-if="device.node.length == 0">
                        <strong>Last seen: </strong>{{moment(device.last_seen).format("DD/MM/YYYY hh:mm:ss")}}
                    </div>
                </div>

                <div class="row m-0 mt-3" v-if="device.node.length">
                    <p class="text-muted p-0 m-0">Current sessions</p>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Node</th>
                                <th>Session started</th>
                                <th>RSSI</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr v-for="node in device.node">
                                <td>{{nodes[node.node]}}</td>
                                <td>{{moment(node.start).format("DD/MM/YYYY hh:mm:ss")}}</td>
                                <td>{{node.rssi}} dB</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="row m-0 mt-3" v-if="device.connections.length">
                    <p class="text-muted p-0 m-0">Current connections</p>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Device</th>
                                <th>Packets Tx/Rx</th>
                                <th>Bytes Tx/Rx</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr v-for="con in device.connections">
                                <td><a href="#" v-on:click="set(con.device, true)">{{con.device}}</a></td>
                                <td>{{con.tx_packets}} / {{con.rx_packets}}</td>
                                <td>{{con.tx_bytes}} / {{con.rx_bytes}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="row m-0 mt-4">
                    <p class="text-muted p-0 m-0">Session timeline</p>
                    <div class="device-timeline"></div>
                </div>

                <div class="session card p-2 mt-3" v-if="selectedSession.start">
                    <div class="row m-0">
                        <p class="text-muted p-0 m-0">Session #{{selectedSession.id}}</p>
                    </div>
                    <div class="row m-0">
                        <strong>Node: </strong> {{nodes[selectedSession.node]}}
                    </div>
                    <div class="row m-0">
                        <div class="col-md-6 p-0">
                            <strong>Started: </strong> {{moment(selectedSession.start).format("DD/MM/YYYY hh:mm:ss")}}
                            <span v-if="selectedSession.active" class="badge badge-success ml-2">Active</span>
                        </div>

                        <div class="col-md-6 p-0" v-if="!selectedSession.active">
                            <strong>Ended: </strong> {{moment(selectedSession.end).format("DD/MM/YYYY hh:mm:ss")}} ({{momentutc(moment(selectedSession.end).diff(selectedSession.start)).format("HH[h] mm[m] ss[s]")}})
                        </div>
                    </div>

                    <div class="row m-0 mt-2" v-if="selectedSession.connections.length">
                        <div>
                            <p class="mb-0"><strong>Communicated with: </strong></p>
                
                            <ul>
                                <li v-for="dev in selectedSession.connections"><a href="#" v-on:click="set(dev, true)">{{dev}}</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<link rel="stylesheet" type="text/css" href="/static/css/device.css">
<script type="text/javascript" src="/static/js/external/moment.min.js"></script>
<script type="text/javascript" src="/static/js/external/vis-data.min.js"></script>
<script type="text/javascript" src="/static/js/external/vis-timeline.min.js"></script>
<link rel="stylesheet" type="text/css" href="/static/css/vis-timeline.min.css" />
<script type="text/javascript" src="/static/js/app/device.js"></script>